Flask==0.12.2
Flask-SQLAlchemy==2.3.1
Flask-GraphQL==1.4.1
numpy==1.12.1
pandas==0.19.2
requests==2.18.4
SQLAlchemy==1.1.14
PyMySQL==0.7.11
psycopg2==2.7.3.1
gunicorn==19.7.1
graphene==2.0
graphene-sqlalchemy==2.0
graphql-core==2.0
scipy==0.19.1
sklearn==0.0
gevent==1.2.2
pusher==1.7.2
influxdb==4.1.1
inflection==0.3.1
